.mainimg{
    border: 5px lightskyblue solid;
    border-radius: 20%;
    box-shadow: 10px 10px 20px;
}

.background-index{
    background-color: lightblue;
}

.brandtext{
     letter-spacing: 4px;
     color: blueviolet;
}

.subhead{
    font-size: 20px;
    font-weight: 20;
    font-style: italic;
    padding-bottom: 50px;
}